*{
	margin: 0;
	padding: 0;
}
.retour{
	z-index: 3;
	color: #000;
	position: absolute;
	top: 10px;
	left: 20px;
	width: 50px;
	opacity: 0.7;
}
.retour:hover{
	opacity: 1;
}
input,textarea{
	width: 100%;
	padding: 5px;	
	outline: none;
}
legend{
	background: rgba(255, 255, 255, 1.0);
	border-radius: 0.5rem;
	padding: 0% 3%;
}

fieldset{
	background: rgba(255, 255, 255, 0.4);
	padding: 20px 40px;
	line-height: 30.4px;
}
body{
	display: flex;
	align-items: center;
	justify-content: center; 
	height: 100vh;
}
label{
	line-height: 1,9rem;
	font-family: "Goudy Bookletter 1911", sans-serif;	
}
input[type="submit"]{
	margin: 10px 0 0;
	align-content: center;
	transform: translate(2.2%);
	padding: 8px;
	border-radius: 0.2rem;
	background: rgba(255, 255, 255, 0.6);
}


										/*ANIMATION*/
@keyframes gradient-anim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
body{
	height: 600px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient-anim 15s ease infinite;
}