*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: sans-serif;
}

.back{
	width: 70px;
	padding-bottom: 30px;
}
.retour{
	z-index: 3;
	margin-left: 20px;
	margin-top: 10px;
	color: #000;
	position: relative;
	width: 50px;
	opacity: 0.7;
}
.retour:hover{
	opacity: 1;
}
/*.retour2{
	z-index: 3;
	color: #000;
	position: absolute;
	top: 10px;
	left: 20px;
	opacity: 0;
	max-width: 50px;
}

.retour2:hover{
	animation: animretour2 1s;
}
.retour2:hover .retour {
	opacity: 0;
}

@keyframes animretour{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes animretour2{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}*/
.legend2{
	padding-left: 150px;
	position: relative;
	z-index: 4;
	opacity: 1;
	color: white;
	font-size: 50px;
}
.legend1{
	padding-left: 100px;
	position: relative;
	z-index: 4;
	opacity: 1;
	color: white;
	font-size: 50px;
}
fieldset{
	width: 80%;
}
.ytb{
	justify-content: center;
}
.videos, .videos2{
	margin-left: 70px;
	justify-content: center;
	display: flex;
	flex-flow: row nowrap;
}
#photobooth, #mariage{
	margin: 10px 0 0 40px;
	z-index: 4;
	position: relative;

} 
										

												/*CUBE*/
.animation-area {
	z-index: 0;
	position: absolute;
	bottom: 0;
	background: linear-gradient(to left, #8942a8, #ba382f);
	width: 100%;
	height: 100vh;
	}
.box-area {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: cube 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 20s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.box-area li:nth-child(7) {
	left: 15%;
	width: 30px;
	height: 30px;
	animation-delay: 8s;
}
.box-area li:nth-child(8) {
	left: 15%;
	width: 130px;
	height: 130px;
	animation-delay: 13.5s;
}
@keyframes cube {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}